@model MindfireSolutions.ViewModel.VMBlog
@{
    ViewBag.Title = "PostBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-3" id="SideNav">
        @Html.Partial("_SideBar", Model)
    </div>
    <div class="col-xs-9" id="DashBoardContainer">
        <div class="margin-top20">
            <div class="row margin-top20">
                @using (Html.BeginForm("PostBlog", "Blog", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "PostBlog" }))
                {
                    <div class="col-sm-9">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.UserId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="hidden" value="@Model.Email" name="Email" />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="Topic">Topic:</label>
                                    <select name="Topic" class="form-control" id="Topic">
                                        <option value="0">--Select Topic--</option>
                                        <optgroup label="Topics">
                                            @{Html.RenderAction("BlogTopic", "Blog");}
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="SubTopic">Sub-Topic:</label>
                                    <select name="SubTopic" class="form-control" id="SubTopic">
                                        <option value="0">--Select Sub-topic--</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="AddTopic">Add Topic</label>
                                    <button type="button" data-toggle="modal" data-target="#AddTopic" class="btn btn-success btn-sm" id="CreateSubTopic">Click Here</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title):
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @id = "BlogTitleField", @class = "form-control", @placeholder = "Enter your Blog title here !" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <label>Description:</label>
                        <div class="bg-white">
                            <div class="container" id="EditoArea">
                                <div id="Toolbar"></div>
                                <div id="EditorArea">
                                    <div id="Editor"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 margin-top20">
                                <button id="SaveBlog" type="submit" class="btn btn-danger btn-block">Post Blog</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row margin-top20">
                            <label>Tag's Added:</label>
                            <div class="selected-item">
                                <div id="SelectedTag" class="padding">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <label for="MoreItem">Add more Tag's to your Post:</label>
                            <input type="text" value="" id="MoreItem" name="MoreItem" class="form-control" />
                            <button type="button" id="AddTag" class="btn btn-danger margin-top20 pull-right">Add</button>
                        </div>

                    </div>
                    @Html.HiddenFor(model => model.Description)
                    @Html.HiddenFor(model=>model.Tag)

                                                }
            </div>
        </div>
    </div>
</div>

<!-- Modal for Adding Topic -->
<div class="modal fade" id="AddTopic" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a New Topic</h4>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "TopicForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control modal-form-control" id="TopicName" name="TopicName" value="" placeholder="Enter your topic..." autocomplete="off" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control modal-form-control" id="SubTopicName" name="SubTopicName" value="" placeholder="Enter your Sub-topic..." autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="CreateTopic">Save</button>
                </div>
            }
        </div>
    </div>
</div>
